# Node modules
node_modules/

# Vite cache
# dist

package-lock.json
.vite/

# Compiled Java class files
*.class

# Compiled Python bytecode
*.py[cod]

# Log files
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# Env files
.env
.env.*.local
 
# IDEs
.vscode/
.idea/

# Optional: Mac/Linux file system junk
*.swp
*.swo
